.main_footer{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.home-footer {
    color: white;
    font-size: 15px;
    margin-top: 40px;
    font-weight: 600;
    
}