*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.watt-heading{
    font-size: 20px;
    font-weight: 700;

}
.watt-body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: transparent;
    padding-top: 30px;
    
}
.watt-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border: 2px solid white;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.75);
    border: 2px solid rgb(176, 171, 171);
    border-radius: 10px;
}
.watt-heading{
    color: white;
}
.watt-num{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 5px;
    /* background-color: red; */
    width: 100%;
    margin-left: 15%;
}
.watt-mess{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 5px;
  /* background-color: green; */
  width: 100%;
  margin-left: 15%;
}
.long-input {
    width: 200px; /* Adjust the width according to your preference */
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
  }
  .num-input{
    width: 200px;
    height: 25px;
    margin-top: 10px;
    /* font-size: 16px; */
    padding-left: 5px;
    border-radius: 5px;
    border: none;
  }
  .watt-num label,.watt-mess label{
    font-size: 20px;
    color: white;
    padding-bottom: 10px;
  }
  .watt-but{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
    border: none;
    border-radius:  10px;;
  }
  .watt-but:hover{
    background-color: blue;
    color: white;
    font-weight: 600
  }